.sidebar-container {
  align-items: center;
  background-color: #c2c2c2;
  color: #464646;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  padding-top: 130px;
  width: 130px;
  top: 54.4px;
  font-size: 12px;

  .link-styles {
    outline: none;
    text-decoration: none;
    color: #3b3b3b;
  }

  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
      color: #2b2a2a;
    }
  }
}

// @media only screen and (max-width: 800px) {
//   .sidebar-container {
//     width: 20%;
//   }
// }

// @media only screen and (max-width: 615px) {
//   .sidebar-container {
//     width: 27%;
//   }
// }